body{
    font-family: Verdana;
    color: #f2f2f2;
    font-size: 2em;
    background: #111;
    margin: 0;
}
nav{
    background: #222;
    padding:  10px 40px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
nav ul .items{
    padding: 0 25px;
    display: flex;
    gap: 20px;

}
nav ul .items a{
    text-decoration: none;
    font-size: 18px;
    font-family: inherit;
    padding: 0 12px;
    color: white;
    transition: 0.3s;
}
nav ul .items a:hover{
    color: #00bcd4;
}

section{
    padding: 80px 10%;
    text-align: center;
}

section h2{
    color: #00bcd4;
    font-size: 2em;
    margin-bottom: 15px;
}

section p{
    color: #ccc;
    font-size: 1.1em;
    line-height: 1.5;
}


#downloadbtn {
    margin: 40px;
    padding: 15px 25px;
    background: #00bcd4;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}


#downloadbtn:hover {
    background: #008c9e;
}

html{
    scroll-behavior: smooth;
}

#footer {
    text-align: right;
    padding: 20px 40px;
    font-size: 0.9em;
    color: #888;
    background: #111;
    border-top: 1px solid #222;
}